@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  all: unset;
}

/* Styles for the Google Translate widget container */
#google_translate_element {
  top: 10px; /* Adjust the distance from the top */
  left: 10px; /* Adjust the distance from the right */
  z-index: 1000; /* Ensure it's above other content */ /* Background color */
}

/* Additional styling for widget elements (if needed) */
body #goog-gt {
  font-size: 14px; /* Adjust font size */
}

body #goog-gt-widget {
  background: #f1f1f1; /* Background color of the widget */
  border-radius: 5px; /* Rounded corners */
}

/* Style for individual dropdown elements */
body .goog-te-menu-value {
  color: #333; /* Text color */
}

/* Style for the dropdown menu */
body .goog-te-menu {
  border: 1px solid #ddd; /* Border for dropdown */
}

